.App {
  text-align: center;
}
.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 50px;
  animation: pulse 1s ease infinite;
}

.nav {
  overflow: hidden;
  background-color: #333;
}


.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.active {
  background-color: #04AA6D;
  color: white;
}

.dogs-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dogs-list .dog > *:not(svg){
  max-height: 100%;
  min-width: 100%;
}

.dogs-list .dog {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
}

.dogs-list .dog .heart {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 46px;
  height: 46px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .dogs-list .dog {
    width: 90%;
    padding: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1100px) {
  .dogs-list .dog {
    width: 46%;
    padding: 1%;
  }
}


@media only screen and (min-width: 1100px) {
  .dogs-list .dog {
    width: 31%;
    padding: 1%;
  }
}